<h2 mat-dialog-title>{{ 'INVITE.DIALOG_TITLE' | translate }}</h2>

<mat-dialog-content>
  <p>{{ 'INVITE.DIALOG_MSG' | translate: { owner: data.ownerUsername, title: data.noteTitle } }}</p>

  <section *ngIf="needsNotificationConsent" class="invite-notif-consent">
    <h3>{{ 'INVITE.NOTIF_CONSENT_TITLE' | translate }}</h3>
    <p class="invite-notif-consent__hint">{{ 'INVITE.NOTIF_CONSENT_HINT' | translate }}</p>
    <mat-radio-group [(ngModel)]="notificationsEnabled" aria-label="Notifiche">
      <mat-radio-button [value]="true">{{ 'INVITE.NOTIF_CONSENT_YES' | translate }}</mat-radio-button>
      <mat-radio-button [value]="false">{{ 'INVITE.NOTIF_CONSENT_NO' | translate }}</mat-radio-button>
    </mat-radio-group>
  </section>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="decline()">
    {{ 'INVITE.DECLINE' | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="accept()">
    {{ 'INVITE.ACCEPT' | translate }}
  </button>
</mat-dialog-actions>
