<div class="dtp-row">
  <button class="dtp-date-btn" type="button"
          [disabled]="disabled"
          (click)="!disabled && dp.open()">
    <mat-icon>event</mat-icon>
    <span class="dtp-date-text">
      {{ localDate ? (localDate | date:'EEE d MMM':'':dateLocale) : (placeholder || ('DATETIME.SELECT_DATE' | translate)) }}
    </span>
    <input [matDatepicker]="dp"
           [min]="minDate"
           [(ngModel)]="localDate"
           (ngModelChange)="onFieldChange()"
           class="dtp-hidden-input">
    <mat-datepicker #dp></mat-datepicker>
  </button>

  <div class="dtp-time" [class.dtp-time--disabled]="disabled">
    <input type="time"
           class="dtp-time-input"
           [value]="timeStr"
           [disabled]="disabled"
           (input)="onTimeStrChange($event)"
           aria-label="Ora">
  </div>
</div>
