<mat-form-field appearance="outline" class="username-field">
  <mat-label>{{ 'USERNAME.LABEL' | translate }}</mat-label>
  <input
    matInput
    type="text"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    autocomplete="username"
    spellcheck="false"
    autocorrect="off"
    autocapitalize="off"
    maxlength="20"
    [placeholder]="'USERNAME.PLACEHOLDER' | translate"
  />
  <span matSuffix class="username-suffix">
    <mat-spinner *ngIf="isPending" diameter="16"></mat-spinner>
    <mat-icon *ngIf="isAvailable" class="state-icon state-icon--ok">check_circle</mat-icon>
    <mat-icon *ngIf="isTaken || isInvalid" class="state-icon state-icon--err">cancel</mat-icon>
  </span>
  <mat-hint [class.hint--ok]="isAvailable" [class.hint--err]="isTaken || isInvalid">
    {{ hintText }}
  </mat-hint>
</mat-form-field>
